
@{
    Layout = "~/Views/Shared/BackOffice.cshtml";
}

<script src="https://use.fontawesome.com/your-embed-code.js"></script> <!-- TODO: Place your Font Awesome embed code  -->

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mes evenements</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Date</th>
                            <th scope="col">Cout</th>
                            <th scope="col">Description</th>
                            <th scope="col">Fondateur</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.events)
                        {

                            <tr>
                                <td>@item.Titre</td>
                                <td>@item.DateEvent</td>
                                <td>@item.Cout</td>
                                <td>@item.Description</td>
                                <td>@item.Fondateur.name</td>
                                <td>
                                    <div>
                                        <a href="@Html.ActionLink(" ", "Delete", "Event", new { id = item.EventId })"><button class="btn btn-danger"><span class="fa fa-trash menu-icon"></span></button></a>
                                        <button class="btn btn-dark">@Html.ActionLink(" ", "Edit", "RouteName", new { id = item.EventId }, new { @class = "fa fa-edit mylink" })</button>
                                    </div>
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
